hr{
    margin:0 !important;
}


/* header */
.mobile-navigation{
    display: none;
}

.header-section-right{
    display: block;
}

.activeTab{
    color: #cc0052 !important;
    font-weight: bolder;
}

.error {
    color: #cc0052;
}
.header {
    display: flex;
    margin: 1% 10% 0 10%;
}

.header a{
    text-decoration: none;
    color:#000000;
 }
.header-section-left img{
    width: 50%;
    height: 90%;
} 

.home-navigation{
    margin-top: 8%;
    display: flex;
}

.home-navigation a{
    padding:0 25%;
    cursor: pointer;
}
.home-navigation a:hover,
.home-navigation a:active,
.header-section-right a:hover,
.header-section-right a:active{
    color:#cc0052
}

.header-section-right a {
   padding-right:20px;
}

.icon-container{
    margin-top: 15px;
    background-color: #e6e6e6;
    padding: 10px;
    display: inline-block;
}

.header-section-right{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

/* header */

/* Registeration & Login */

.registration-conatiner{
    display: flex;
    margin: 3% 10%;
}

.registration-right,
.registration-left{
    width:50%;
}

.registration-left h1{
    margin: 30px 0;
}

.registration-right input{
  border: none;
  border-bottom: 1px solid black;
  width:70%;
  margin-bottom:1%;
}

.register-nav{
  display: flex;
  width:70%;
  justify-content: space-between;
  margin-top:2%;
}

.registration-right input:focus-visible{
    outline: none;
    border-bottom: 1.5px solid #cc0052;
}

.signup-button{
   width:70%;
   border:none;
   background-color: #cc0052;
   color:#ffffff;
   padding: 2%;
}

/* Registeration & Login */

/* Home */

.body-container{
    margin: auto 5%;
}
.container-category{
    display: flex;
    padding:2% 0;
    padding: 10px;
    box-shadow: 0 10px 10px #e6e6e6;
}

.container-category button{
    background-color:  #cc0052;
    border:none;
    padding: 1% 5%;
    color:#ffffff;
}

.container-category img{
    width:70%;
}

.col-container-left{
    width: 30%;
}

.col-container-right{
   text-align: center;
   padding:2% 0;
   width:70%
}

.reverse-container-left{
    width:70%;
    text-align: center;
    padding:2% 0;
}

.reverse-container-right{
    width:30%
}

/* Home */

/* banners */
.banner-container{
  margin: auto 5%;
  padding: 10px;
  box-shadow: 0 10px 10px #e6e6e6;
}

.carousel span{
    background-color: #cac0c0;
    padding: 1% 5%;
    line-height: 120%;
}

.carousel-indicators{
   display: none !important;
}
/* banners */

/* products */

.products{
   display: flex;
}

.products-left{
    background-color: #e6e6e6;
    width:20%;
    display: block;
}
.mobile-product{
    display: none;
}

.product-link a{
    margin:10%;
}


.products-right{
    width:80%;
    display: flex;
    flex-flow: wrap;
}

.product-container{
    padding:1%;
    width: 28%;
    margin:2% 0 0 2%;
}

.product-container img{
    width:100%;
    height:40%;
}

.card-description{
    /* height: 100px;
    width: 100%;
    overflow-y: hidden;
    white-space: break-spaces; */
    text-align: justify;
    background-color:#e6e6e6 ;
    padding: 10px;  
}

.product-button button{
   border:none;
   background-color: #cc0052;
   color:#ffffff;
   padding: 3% 5%;
}

.product-button button:hover,
.product-button button:active{
    color: #cc0052;
    background-color: #ffffff;
    border: 1px solid #cc0052;
}

.product-button p{
    padding: 3% 0%;
    margin-bottom: 0;
}

.product-button{
    display: flex;
    justify-content: space-between;
}

/* products */
.footer{
    background-color: #e6e6e6;
    padding: 1% 5%;
}

.footer p{
    padding:0;
    margin: 0;
}

/* Tabelt */

@media (min-width: 481px) and (max-width: 900px) {
    .product-container{
        width:40%;
        margin: 2% 0 0 3%;
    }
    .registration-right input,
    .signup-button,
    .register-nav{
        width:100%;
    }
    .products-left ul {
        padding: 10px !important;
    }
    .products-left{
        width:25%;
    }
}
/* Tablet */

/* Mobile */

@media only screen and (max-width: 600px) {
   .registration-conatiner,
   .container-category{
     display:block;
   }
   .registration-right, .registration-left{
        width:100%;
    }
    .registration-right input,
    .signup-button,
    .register-nav{
        width:100%;
    }
    .container-category{
        text-align: center;
    }
    .header-section-right{
        display: none;
    }
    .topnav #myLinks {
        display: none;
    }
    .topnav a{
        display:block;
        text-decoration:none;
        width:100%;
        padding:5%;
        border: 1px solid #cac0c0;
    }
    .mobile-navigation{
        display: block;
    }
    #myLinks{
        position:absolute;
        top:10%;
        left:0;
        z-index:99;
        background-color: #ffffff;
        width:100%;
    }
    .topnav button{
        position:absolute;
        top:3%;
        right:5%;
    }
    .products{
        display:block;
    }
    .products-left,
    .products-right{
        width:100%;
        display:block
    }
    .product-container{
        width:100%;
        border:none !important;
        margin:0;
        text-align: center;
        border-bottom: 2px dotted #e6e6e6 !important;
    }
    .products-left{
        display: none;
    }
    .mobile-product{
        display: block;
    }
    .dropbtn{
        background-color: #cc0052;
        color: #ffffff;
        width:100%;
        cursor: pointer;
        border:none;
        padding:2% 5%;
    }
    .dropdown-content{
        display:none;
        text-align: center;
        width:100%;
        padding:2% 5%;
        background-color: #ffffff;
        border-bottom:1px solid #cc0052;
    }
    .show {
        display: block;
    }
}
/* Mobile */